[Desktop Entry]
Type=Application
Name=yaawp
GenericName=WhatsApp Client
Comment=Native WhatsApp client for KDE Plasma
Exec=yaawp
Icon=tr.cebi.yaawp
Terminal=false
Categories=Network;InstantMessaging;Qt;KDE;
Keywords=whatsapp;chat;messaging;whatsmeow;im;
StartupNotify=true
StartupWMClass=yaawp
X-KDE-StartupNotify=true
